.footer-bar {
    display: block;
    bottom: 0;
    width: 100%;
    height: 64px;
}

.footer-input {
    position: absolute;
    border-width: 0;
    width: 80%;
    height: 64px;
}

.footer-send {
    position: absolute;
    color: white;
    background-color: #0894ec;
    width: 20%;
    top: 0;
    right: 0;
    height: 64px;
    border-width: 0;
}
