.form-tip {
    background-color: #FFEFD5;
    width: 100%;
    display: none;
}

.form-tip table {
    margin-left: 36.5%;
    height: 100%;
}

.form-tip img {
    width: 0.8em;
    height: 0.8em;
    margin-right: 5px;
}

.form-tip .err-msg {
    color: red;
    font-size: 0.8em;
}
