.list-row {
    border: 1px solid #999;
    padding: .5rem;
    border-bottom: none;
    margin: 0 auto;
}
.list-row:last-child {
    border-bottom: 1px solid #999;
}
.shop-name {
    white-space: nowrap;
    overflow-x: scroll;
}
.shop-wrap a {

}
