ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

#page-num {
    padding: 15px 16px 8px 16px;
}

ul.pagination li, #page-num {
    display: inline;
    float: left;
    text-decoration: none;
}

ul.pagination li a {
    font-size: 24px;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}
